@charset "UTF-8";
html {
    width: 100%;
    overflow-x: hidden;
}

body {
    background: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.3;
    margin-bottom: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 2.625rem;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: #253D3C;
}

p {
    margin: 0;
    padding: 14px 0;
}

.p2 {
    margin: 0;
    padding-top: 12px;
    color: #666;
}

.mg {
    padding: 60px 0;
}

.mg2 {
    padding: 60px 0 0 0;
}

.mg3 {
    padding: 60px 0;
}


/* header */

.header {
    background: #fff;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.header-btn img {
    width: 30px;
}

.header-btn:hover {
    color: #000;
}

.header-btn {
    background: #FFD600;
    color: #000;
    padding: 12px 26px;
    font-size: 1.4rem;
    font-weight: 600;
}

.form-btn {
    background: #FFD600;
    color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
}

.form-btn2 {
    background: #FFD600;
    color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
}


/* banner */

.banner {
    padding: 60px 0;
    background: url(../images/bg.jpg);
    background-size: cover;
    background-position-x: 35%;
}

.banner-content {
    color: #fff;
    margin: 80px 0 20px 0;
}

@media (max-width: 1230px) {
    .banner-content {
        margin: 20px 0 20px 0;
    }
}

.form-card {
    background: #fff;
    padding: 35px 30px;
    border-radius: 15px;
    font-size: 0.8rem;
    margin-top: 20px;
}

.form-control {
    height: 50px;
}

.form-control:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
}

.form-select:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
}


/*intro*/


/* point */

.point {
    background: #eff0f1;
}

.point-b {
    margin-bottom: 30px;
}

.point-r {
    top: 20%;
}

.pr {
    margin: 60px 0;
}


/*step*/

.step {
    background: #FFD600;
    background-position: center;
    background-size: cover;
    color: #000;
}


/* whyus */

.whyus {
    background: #eff0f1;
}

.btnb {
    margin-top: 30px;
}


/* footer */

.footer {
    background: #424242;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #adadae;
}

.contact {
    padding: 25px 0 15px 0;
    margin: 30px 0 60px 0;
    border: 1px solid #4f4f4f;
    border-radius: 5px;
}

.contact img {
    width: 40px;
}

.footer a {
    color: #adadae;
}


/* success page */

.success-img {
    margin: 30px;
}

h6 {
    line-height: 1.7;
    font-weight: 600;
}

.h6m {
    margin-bottom: 20px;
}

.cont {
    padding: 0 20px;
}

@media (max-width: 767px) {
    h2 {
        line-height: 1;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    .contact {
        display: none;
    }
    .mg {
        padding: 60px 0;
    }
    .mg2 {
        padding: 60px 0 0 0;
    }
    .mg3 {
        padding: 60px 0;
    }
    .p3 {
        margin-bottom: 35px;
    }
}

.advantage img {
    max-width: 50%;
}

.gold img {
    max-width: 40%;
    margin-bottom: 20px;
}

.cardw {
    padding: 50px 30px;
    background: #F7F7F7;
    margin-bottom: 30px;
}

h2,
h3,
h4 {
    font-weight: 600;
}

p {
    font-size: 1.1rem;
}

.warning {
    background: rgba(0, 0, 0, .3);
    color: #fff;
    padding: 5px 0;
    font-size: 0.9rem;
    position: fixed;
}

.form-label {
    font-size: 1rem;
}

.banner-content h1 {
    font-weight: 600;
}

h2 {
    margin-bottom: 50px;
}

.banner-form h3 {
    margin-bottom: 30px;
    text-align: center;
}

.form-input1 {
    background: url(../images/f1.svg) no-repeat;
    background-position: left;
    background-origin: content-box;
    text-indent: 43px;
    height: 50px;
}

.form-input2 {
    background: url(../images/f2.svg) no-repeat;
    background-position: left;
    background-origin: content-box;
    text-indent: 43px;
    height: 50px;
}

.form-input3 {
    background: url(../images/f3.svg) no-repeat;
    background-position: left;
    background-origin: content-box;
    text-indent: 43px;
    height: 50px;
}

@media (max-width: 1230px) {
    .banner-content h1 {
        font-size: 2.5rem;
    }
    .cardw {
        padding: 30px 20px;
        background: #F7F7F7;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .header-btn img {
        width: 20px;
    }
    .header-btn {
        padding: 10px 22px;
        font-size: 0.9rem;
        font-weight: 600;
    }
    .form-btn {
        padding: 10px 22px;
        font-size: 1rem;
        font-weight: 600;
    }
    .form-btn2 {
        padding: 10px 22px;
        font-size: 1rem;
        font-weight: 600;
    }
    p {
        font-size: 1rem;
    }
    .shotcon {
        margin-bottom: 30px;
    }
}

.footer p {
    font-size: 0.9rem;
}

.isocert {
    display: flex;
    justify-content: center;
    align-items: center;
}

.awardslogo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.awardslog {
    display: flex;
}

.awardslogo span img {
    margin-bottom: 15px;
    margin-right: 15px;
    max-height: 70px;
    max-width: 100%;
}

.win1 {
    padding: 30px 0;
    background: #fff;
}

.win2 {
    padding: 30px 0;
    background: #666;
}

.win-flex {
    display: flex;
    align-items: center;
}

.ft-btn {
    padding: 15px 20px;
}

.compare-img-pc {
    display: block;
}

compare-img-m {
    display: none;
}

@media (max-width: 767px) {
    .compare-img-pc {
        display: none;
    }
    compare-img-m {
        display: block;
    }
}